@import "tailwindcss";

@theme {
  --color-primary-rose: #260f08;
  --color-muted-rose: #87635a;
  --color-dusty-rose: #ad8a85;
  --color-soft-rose: #f5eeec;
  --color-pale-rose: #fcf8f6;
  --color-red: #c73b0f;
}
